

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ‘Inconsolata’, monospace;
}

@import 'home.scss';
// style Coffee page
@import 'coffee.scss';
// Style for About Page
@import 'about.scss';
// menu page
@import 'manu.scss';
